*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

h1{
    text-align: center;
}

.container{
    max-width: 960px;
    margin: auto;
    overflow: hidden;
    padding: 4rem 1rem;
}

.flex{
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding: 50px;
    align-items: center;
    justify-content: center;
    
}

button{
    text-align: center;
    font-size: 1.5rem;
    padding: 5px;
    border-radius: 10px;
    box-shadow:  2px 2px black;
    text-decoration: none;
    transition-duration: 0.4s;
    cursor: pointer;
}

button:hover{
    background-color: white;
    color: black;
}

.rock{
    background: red;
    color: whitesmoke;
}

.paper{
    background: rgb(2, 143, 2);
    color: white;
}

.scissor{
    background: blue;
    color: white;
}

.selection{
    display: flex;
    flex-direction: row;
    gap: 5rem;
    align-items: center;
    justify-content: center;
}

.box-player, .box-comp{
    padding: 50px;
    border: 3px solid black;
    margin: 10px;
    text-align: center;
}

.player, .comp{
    display: flex;
    flex-direction: column;
}

.flex-2{

    display: flex;
    flex-direction: row;
    gap: 5rem;
    align-items: center;
    justify-content: center;

}

.player-score, .comp-score{
    padding: 50px;
    border: 3px solid black;
    margin: 10px;
    text-align: center;
    margin-top: 30px;
}

.round{
    text-align: center;
}